body {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  background-image:  linear-gradient(to bottom, rgba(232,208,135,0.8323704481792717), rgba(255, 255, 255, 0) 30%),
  url('../images/FullScreen.jpg');
  background-attachment: fixed;
  background-size: cover;
  
}
