body {
  font-family: "Open Sans", sans-serif;
}

.homeContent {
  margin: 180px;
  text-align: center;
  /* line-height: 24px; */
}

/* MainHeading */

.homeContent h2 {
  color: #d1e8e2;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #310e0e;
}

/* SubHeading */

.homeContent p {
  color: #116466;
  font-size: 18px;
  font-weight: 600;
}

/* Buttons */

.homeContent .stared,
.more {
  position: relative;
  padding: 10px 35px;
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 3px;
}

.homeContent .stared:hover,
.more:hover {
  cursor: pointer;
}

.homeContent .stared {
  background: #d1e8e2;
  color: #2c3531;
  animation: leftMove 2s normal forwards ease-in-out;
}
.homeContent .stared:hover {
  background: #116466;
  color: #d1e8e2;
}

.homeContent .more {
  background: #2c3531;
  color: #d1e8e2;
  animation: rightMove 2s normal forwards ease-in-out;
}
.homeContent .more:hover {
  background: #ffcb9a;
  color: #2c3531;
}

@keyframes leftMove {
  from {
    opacity: 0;
    left: -500px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes rightMove {
  from {
    opacity: 0;
    right: -500px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 768px) {
  .homeContent {
    margin: 100px;
  }

  .homeContent h2 {
    font-size: 18px;
  }
  .homeContent p {
    font-size: 10px;
    line-height: 16px;
  }

  .homeContent .stared,
  .more {
    margin-top: 5px;
  }
}
